@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <AuthorizeView Roles="@SD.Role_Admin">
        <div class="sidebar">
            <NavBarAdmin />
        </div>
    </AuthorizeView>

    <main>
       @if (_navBarVisible) {
            <NavBar></NavBar>
        }
       <ErrorBoundary> @* Let's see what this does *@ 
           @Body
        </ErrorBoundary>
    </main>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">App Functionality</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @* Code for PGMP1992 ------------------- *@
                <div class="h6" style="color:blue">Following are the User Accounts that exist by default ( Password: <b>Admin123*</b> ): </div>
                <ul>
                    <li>Admin User      : <b>admin@email.com</b> </li>
                    <li>Individual User : <b>user1@email.com</b></li>
                </ul>

                <div class="h6" style="color:blue">How to use the website:</div>
                <ul>
                    <li>This website is intended to serve as a demo application.</li>
                    <li>You can create a new user using Register on the main menu.</li>
                    <li>Users can place an order after adding items to Cart.</li>
                    <li>Once an Order is placed you can login as Admin User and manage orders to see the flow of the application.</li>
                    <li>To place an order you can use any test credit card number supported by Stripe.</li>
                    <li>Default example: <b>4242 4242 4242 4242, valid date, any 3 digit CVV.</b></li>
                </ul>
                <a class="text-start" href="https://pgmp1992.github.io/Port/" target="_blank">
                    &copy; 2025 pgmp.se
                </a>
            </div>
            
            <div class="modal-footer text-center">
                
                <a href="mailto:pedro@dkltd.net">
                    <i class="bi bi-envelope-fill"></i>
                    Email
                </a>
                <a href="https://www.linkedin.com/in/pedro-martinez-70077691" target="_blank">
                    <i class="bi bi-linkedin"></i>
                    Linkedln
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@* ------------------------------------------------------------------ *@
@code {
    private bool _navBarVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _navBarVisible = await ShowNavBar();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    { 
        _navBarVisible = await ShowNavBar();
    }

    private async Task<bool> ShowNavBar()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var authenticated = user.Identity is not null && user.Identity.IsAuthenticated;
        
        if(! authenticated )
        {
            return true;
        }

        // Navbar not displayed for Admin
        if (!user.IsInRole(SD.Role_Admin))
        {
            return true;
        }

        return false;
    }   
}
